:root {
    --width-of-browser: 100vw;

    /* If the width doesn't look quite right, adjust below value*/
    --marginleft:-29vw;
}

nav {
    background-color: #eee;
    width: var(--width-of-browser);
    margin-left: var(--marginleft);
    padding: 10px 0;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 20px;
    font-family: arial, sans-serif;
}

nav ul a { 
    color: #000;
    text-decoration: none !important;
}

nav ul a {
    position: relative;
    width: 100%;
    color: #004b87;
  }

nav ul a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 3px solid #64a70b;
    transition: 0.4s;
}

nav ul a:hover:after {
    width: 100%;
}


html, body { height: 100%; }

body { 
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}

.content { flex: 1 0 auto; }

footer { 
    box-sizing: border-box;
    background-color: #ddeeff;
    flex-shrink: 0; 
    width: var(--width-of-browser);
    margin-left: var(--marginleft);
    height: 7vh;
    padding: 8px 40px;
    display: flex;
    justify-content: space-around;
}

#searchform {
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
}